<div class="col-md-8" id="entry_area">

	<div class="panel panel-default" style="margin-top: 20px; padding-top: 0px">
	  <div class="panel-heading">
	  	<h3>{{entry.title}}<br /><small>{{entry.date}}</small></h3>
	  </div>
	  <div class="panel-body">

	<p>{{ entry.content }}</p>
	  </div>
	</div>

	
</div>



<div class="col-md-4" id="feature_area" ng-show="(entry.temp || entry.emotion)">


	<div class="panel panel-default" style="margin-top: 20px">
	  <div class="panel-body" style="padding-top: 0px">
	    	<h3 class="page-header">Things to remember about this day</h3>
			<div id="weather" ng-show="entry.temp" style="margin-top: 20px">
				<img src="{{entry.weather_icon}}" />
				<span style="padding-left: 10px">{{entry.temp}} F</span>
			</div>
			<div id="mood" ng-show="entry.emotion" style="margin-top: 20px; margin-bottom: 20px">
				<img src="img/{{entry.emotion}}.png" style="max-width: 90px"/>
			</div>
			<div id="pic" style="margin-top: 20px">
				<img src="{{entry.pic}}" style="max-width: 200px" />
			</div>
	  </div>
	</div>

	
</div>





