<div class="col-md-8" id="entry_area" style="background: black; color: white; border: 10px ridge #e67300">
	<div class="page-header" >
	  <h1>{{entry.title}}</h1>
	</div>


	<div class="form-group">
		<label for="title" class="col-md-2 control-label">
			Title
		</label>
		<input type="text" class="form-control" name="title" autofocus
		id="title" ng-model="entry.title">
	</div>

	<div class="form-group">
		<label for="title" class="col-md-2 control-label">
			Date
		</label>
		<input type="text" class="form-control" name="date" autofocus
		id="date" ng-model="entry.date">
	</div>

	<div class="form-group">
		<label for="content" class="col-md-2 control-label">
			Description
		</label>
		<textarea class="form-control" name="content" rows="3" id="content" ng-model="entry.content">
		</textarea>
	</div>

	<div class="form-group">
		<label for="location" class="col-md-2 control-label">
			Location
		</label>
		<textarea class="form-control" name="location" rows="1" id="location" ng-model="entry.location">
		</textarea>
	</div>

	<button type="button" class="btn btn-primary" ng-click="addEntry()">Save Workout</button>
</div>

<div class="col-md-4" id="feature_area" style="margin-top: 80px">
	<h3>Additional Info<br /><small> (click to add to your entry)</small></h3>
<!--
	<div id="weather" style="margin-top: 20px">
		<span ng-click="toggleWeather()" class='glyphicon glyphicon-plus'></span>
		<img src="{{weather_icon}}" />
		<span style="padding-left: 10px">{{temp}} F</span>
	</div>
-->
	<div id="mood" style="margin-top: 20px; margin-bottom: 20px">
		<img class="emoji" id="workout" src="img/workout.png" style="max-width: 90px;"/>
		<img class="emoji" id="running" src="img/running.png" style="max-width: 90px"/>
		<img class="emoji" id="biking" src="img/biking.png" style="max-width: 90px"/>
	</div>
	<div id="pic">
		<label>Paste an image url to add a picture</label>
		<input type="text" class="form-control" id="pic" ng-model="pic" style="max-width: 300px; margin-bottom: 20px">
		<img src="{{pic}}" style="max-width: 200px" />
	</div>
</div>










